<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <center>
   <h1>Tim(e) Management</h1>
   <h3> Finding it hard to manage your tasks? Here's a cute beaver to help you out! </h3>
   <img src="{{ user_image }}" style="width:300px;height:300px;" class="center"></img>

   <form method="post" action="/">
        <button type="submit" name="Run Tim!" value="VALUE1">Run Tim!</button>
    </form>
    </center>

</body>
</html>