<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <img src="Time Management.png"></img>
</head>
<body>
   <h1>Tim Management</h1>
   <p> Finding it hard to manage your tasks? Here's a cute beaver to help you out! </p>
   <img src="{{ user_image }}" style="width:100px;height:100px;"></img>

   <form method="post" action="/">
        <button type="submit" name="Run Tim!" value="VALUE1">Run Tim!</button>
        <button type="submit" name="Close Tim!" value="VALUE2">Close Tim</button>
    </form>

</body>
</html>